= simple_form_for(@item, html: { class: 'form-horizontal'}) do |f|
    = f. collection_select :category_id, Category.all, :id, :name, { prompt: 'Choose a Category' }
    %br/
    = f.input :title, label: 'item title'
    %br/
    = f.input :description, label: 'item description'
    %br/
    = f.input :file, as: :file, label: 'download photo'
    %br/
    =f.button :submit